.app-warehouse-list{
    width: 100vw;
    min-height: 70vh;
    margin-top: 5vh;
    height: fit-content;
    background-color: burlywood;
    border-radius: 20px;

    display: flex;
    align-items: center;
    

    &__header{
        width: 100vw;
        height: 10vh;
        background-color: bisque;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        button{
            background-color: gray;
            padding: 1vh;
            border: none;
            border-radius: 20px;
            transition: all 2s;

            &:hover{
                cursor: pointer;
                background-color: chartreuse;
            }
        }
    }

    &__block{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__list{
        flex-direction: column;
        justify-content: space-around;
    }
}